/* base styling */

html {
    /* our base size */
    font-size: 12px;
}

body {
    line-height: 1.5;
    margin: 0 1rem;
    color: #444;
    font-family: sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    color: #222;
    margin: 0.2rem 0;
}

h1 { font-size:244%;}
h2 { font-size:195%;}
h3 { font-size:156%;}
h4 { font-size:125%;}
h5 {font-size:100%; }
h6 {font-size:80%; }

small { font-size: 75%; }


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small { color: #888 }

p {
    margin-bottom: 0.75rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
/*    font-weight: bold; */
}

input[type="password"] {
}


/* form errors */
.has-error input,
.has-error select,
.has-error textarea {
  border-color: #b94a48;
}

.has-error label,
.has-error .help-block {
  color: #b94a48;
}

/* form misc */

.form-group {
    margin-bottom: 0.5em;
}

.help-block {
    display: block;
}


/* buttons */


.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    line-height: 1.42;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-default { }
.btn-primary { }
.btn-success { }
.btn-info { }
.btn-warning { }
.btn-danger { }


.btn-link {
    border-radius: 0;
    background: none;
}

.btn-link:hover {
  text-decoration: underline;
}

/* alerts */

.alert {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


/* tables */

td, th {
    text-align: left;
    vertical-align: text-top;
}


/* layout */
.site-header {
    position: relative;
    /*border-bottom: 1px solid #000; */
    background: #222;
    color: #fff;
}

.site-header a { color: #fff; }
.site-header a:visited { color: #fff; }
.site-header a:hover { color: #fff; }

.site-header nav {
    /*position: absolute;
    bottom: 0;
    right: 1rem;
    */
    display: inline-block;
}

.site-logo {
    margin: 0 4rem 0 1rem;
    font-size: 125%;
    padding: 0.5rem;
    display: inline-block;
}

.site-logo a:visited,
.site-logo a:visited {
    color: #fff;
}

.site-header .greet {
    position: absolute;
    bottom: 0;
    right: 1rem;
}



.site-main {
    margin: 1rem 1rem;
}

/* modules */

.readable {
    max-width: 35rem;
}

/*
td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20rem;
    white-space: nowrap;
}

td:hover {
    outline: 1px solid red;
    position: absolute;
    max-width: 60rem;
    background-color: #fff;
}
*/

/* keyword container */
.kws {
    max-width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kws:hover {
    background: #ffc;
    border: 1px solid #ccc;
    white-space: normal;
    position: relative;
    display: block;
    max-width: none;
    overflow: auto;
}


.searchform {
    margin: 0;
}

.searchform input[type="text"] {
    width: 80%;
}
.results {
    display: block;
    width: 80%;
}

.results table {
    padding: 0.2rem;
    /*
   border: 1px solid #888;
    border-radius: 4px;
    */
   border-top: 1px solid #888;
   border-bottom: 1px solid #888;
}

.results td:nth-child(4) {
    max-width: 40rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.results td {
    border-top: 1px solid #eee;
}

.result-summary {
}

.tag {
    border-radius: 4px;
    background-color: #eee;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
}

.tag-nat,
.tag-blog {
    background-color: #ccf;
}

/* twiddlers */

.twiddler {
    display: inline-block;
    padding: 0.2rem;
    margin: 0.2rem 0.5rem 0.2rem 0rem;
    /* border: 1px solid #ccc; */
    
    background-color: #eee;
    border-radius: 4px;
}

.tools {
    margin-top: 1rem;
}

.tool {
    padding: 0.2rem;
    margin-left: 2rem;
    display: inline-block;
    /* border-left: 1px solid #888; */
}
.tool:first-child {
    margin-left: 0;
}


.art:hover {
    background-color: #ffc;
}


/* chart */


.chart {
}

.chart rect {
  fill: #4488ff;
}

.chart rect.sunday {
  fill: #66aaff;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}
.axis text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

