{{define "title"}}Bar Chart{{end}}

{{define "body"}}
        <form class="searchform" method="GET" action="/barchart">
          <input type="text" name="q" value="{{.Query}}" />
          <input type="submit" value="Search" />
        </form>

        {{if .Data}}
        <table id="data">
          <thead><tr><th>Date</th><th>Count</th></tr></thead>
          <tbody>
          {{range .Data}}
          <tr><td>{{.Date.Format "2006-01-02" }}</td><td>{{.Val}}</td></tr>
          {{end}}
          </tbody>
        </table>
        {{else}}
        No matches.
        {{end}}

        <div>
          <svg class="chart"></svg>
        </div>
        <a href="/?q={{.Query}}">Back to article list</a> 
<script src="/d3.min.js"></script>
<script src="/chart.js"></script>


{{end}}

